@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&subset=cyrillic');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

#main a {
	color: #3B83CD;
	text-decoration: none;
}

/* PopUp */
#wrap {
	opacity: 0.9;
	position: fixed;
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	overflow: auto;
	background: #333;
	cursor: pointer;
}

#pop {
	width: 60%;
	height: 50%;
	margin: 50px auto;
	background: #fff;
	position: fixed;
	z-index: 200;
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: .5em;
	font-size: 1.5em;
	overflow-y: hidden;
}

#cls {
	position: absolute;
    right: .75em;
    top: .25em;
    cursor: pointer;
    color: #999;
}

#pop .eng,
#pop .rus {
	text-align: center;
	font-size: 1.5em;
	margin: 0;
}

#pop .eng {margin-top: 1em}

#pop .rus {
	font-size: 1em;
	color: brown;
}